.example-card {
    max-width: 300px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block !important
}
  
h1 {
    color: #FCB041;
    font-weight: bold;
    padding-top: 50px;
}

.col-auto {
    padding-top: 50px;
}