<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="btnSidebar">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>BetWeenFriends</h1>
    <span class="menu-spacer"></span>
    <div class="listNavbar">
      <a mat-button [routerLink]="'/new-user'"> Novo Usuário </a>
      <a mat-button [routerLink]="''"> Login </a>
      <a mat-button [routerLink]="'/faq'"> FAQ </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="userId">

      <a mat-list-item [routerLink]="'/login'"> Login </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

    </mat-nav-list>
    <mat-nav-list *ngIf="!userId">

      <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>