<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="btnSidebar">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>BetWeenFriends</h1>
    <span class="menu-spacer"></span>
    <div class="listNavbar">
      <a mat-button *ngIf="!userId"[routerLink]="'/new-user'"> Novo Usuário </a>
      <a mat-button *ngIf="!userId" [routerLink]="''"> Login </a>
      <a mat-button [routerLink]="'/group'"> Grupos </a>
      <a mat-button [routerLink]="'/faq'"> FAQ </a>
      <a mat-button *ngIf="userId" [routerLink]="''" (click)="logout()"> Sair </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="!userId">

      <a mat-list-item [routerLink]="''"> Login </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Fechar</a>

    </mat-nav-list>
    <mat-nav-list *ngIf="userId">
      <a mat-list-item (click)="openNewFriend()"> Adicionar amigo </a>
      <a mat-list-item (click)="openSolicitation()"> Ver solicitações </a>

      <mat-list-item *ngFor="let friend of listFriends">
        {{friend.nome}}
      </mat-list-item>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Fechar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>