<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="btnSidebar">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>BetWeenFriends</h1>
    <span class="menu-spacer"></span>
    <div class="col"></div>

    <div *ngIf="userId">
      <a mat-icon-button [routerLink]="'profile'">
        <mat-icon>person</mat-icon>
        {{user.nomeUsuario}}
      </a>
      <a mat-icon-button [routerLink]="'wallet'">
        <mat-icon>
          attach_money
        </mat-icon>
        {{wallet.saldo}}

      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>

    <mat-nav-list *ngIf="!userId">

      <a mat-list-item [routerLink]="''"> Login </a>
      <a mat-list-item [routerLink]="'/new-user'"> Novo Usuário </a>

    </mat-nav-list>
    <mat-nav-list *ngIf="userId">
      <a mat-list-item [routerLink]="'/group'"> Grupos </a>
      <a mat-list-item (click)="logout()" [routerLink]="''"> Sair </a>

    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/faq'"> FAQ </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>