<div class="container">
    <div class="row">
        <div class="col">
            <h1>Meu perfil</h1>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" >Editar perfil</button>
            <button type="button" class="btn btn-primary" (click)="deletePerson()" >Deletar perfil</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><strong>Nome:</strong> {{user.usuario.nome}}</p>
            <p><strong>Usuário:</strong> {{user.nomeUsuario}}</p>
            <p><strong>CPF:</strong> {{user.usuario.cpf}}</p>
        </div>
        <div class="col">
            <p><strong>Sobrenome:</strong> {{user.usuario.sobrenome}}</p>
            <p><strong>Data de Nascimento:</strong> {{user.usuario.dataAniversario}}</p>
            <p><strong>Telefone:</strong> {{user.usuario.telefone}}</p>
        </div>
    </div>
</div>