<h2 mat-dialog-title>Deposito</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formBusca">
    <div class="row">
        <div class="col">
            <label>Nome do grupo:</label>
            <input type="number" class="form-control" id="datatable-search-input" 
                placeholder="Insira o valor para deposito" formControlName="value" required="true">
        </div>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="btn btn-outline-warning"  [mat-dialog-close]="true" cdkFocusInitial>Fechar</button>
  <button mat-button class="btn btn-primary"  [mat-dialog-close]="true" (click)="onSubmit()"  cdkFocusInitial>Salvar</button>

</mat-dialog-actions>
