/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$theme-colors: (
   primary: red,
);

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
   background-color: #FCB041 !important;
   border: #FCB041;
}

.btn-outline-danger, .btn-outline-danger:hover,  .btn-outline-danger:active,  .btn-outline-danger:visited {
   border: #FCB041;
   color: #FCB041;
}

.btn-outline-danger:hover {
   background-color: #FCB041 ;
   color: white;
}

.ng-select .ng-select-container {
   min-height: 40px;
 }
 
 .ng-select.ng-select-single .ng-select-container {
   height: 40px;
 }

 .mat-radio-group {
   display: flex; flex-direction: column;
   /* display: inline-grid; */ 
   /* display: grid; */
   margin: 15px 0;
}
button {
   margin-left: 5px;
}

h3, h2, h1 {
   color: #FCB041;
   font-weight: bold;
}
// regular style toast
@import '~ngx-toastr/toastr';

@import "~@ng-select/ng-select/themes/material.theme.css"

