<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Meus grupos</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="openNewGroup()" >Novo grupo</button>
                <button class="btn btn-primary" [matBadge]="requestList.length"  data-toggle="tooltip" data-placement="top" (click)="showRequestGroup()" >Minhas solicitações</button>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="datatable">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome do grupo</th>
                        <th scope="col">Usuários</th>
                        <th scope="col">Moderador</th>
                        <th scope="col">Ações</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of groupList; index as i">
                        <td>
                            {{row.nomeGrupo}}
                        </td>

                        <td>
                            <p *ngFor="let col of row.integrantes">{{col.nomeUsuario}}</p>
                        </td>
                        <td>
                            {{row.nomeModerador}}
                        </td>
                        <td>
                            <button class="btn btn-primary"   data-toggle="tooltip" data-placement="top" [routerLink]="['bets', row.id]" >Apostas</button>
                            <button class="btn btn-primary"   data-toggle="tooltip" data-placement="top" (click)="openModalAddParticipante(row.id)" >Adicionar participantes</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a href="/"><button type="button" class="btn btn-outline-warning" id="b1">Voltar</button></a>
</div>