<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Meus grupos</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="openNewGroup()" >Novo grupo</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="datatable">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome do grupo</th>
                        <th scope="col">Usuários</th>
                        <th scope="col">Apostas</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of groupList; index as i">
                        <td>
                            {{row.name}}
                        </td>
                        <td>
                            {{row.team}}
                        </td>
                        <td>
                            <button  data-toggle="tooltip" data-placement="top" [routerLink]="['bets', row.id]" >Apostas</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a href="/"><button type="button" class="btn btn-outline-warning" id="b1">Voltar</button></a>
</div>