<div class="faq">
    <h1 style="font-weight: bold; font-size: 40px;">FAQ</h1>
    <h1>
        <ol>
            <li class="t1" style="font-size: 32px;">Como funciona?</li>
            <p>Aqui você consegue realizar apostas entre seus amigos, seja apostas de grandes campeonatos, ou criar apostas personalizadas.</p>

            <li class="t2" style="font-size: 32px;">Como ser aceito</li>
            <p>Ao se cadastrar, você está plenamente ciente de que existe risco de perder dinheiro ao jogar e assume responsabilidades por tais perdas.</p>

            <li class="t3" style="font-size: 32px;">Qual a idade mínima para cadastro?</li>
            <p>É necessário ter acima de 18 anos completos.</p>
        </ol>
    </h1>
    <div class="botao">
        <a href="/"><button type="button"  class="btn btn-outline-warning" id="b1">Voltar</button></a>
    </div>
</div>

