h1{
    color: #FCB041;
    margin-left: 60px;
    margin-top: 60px;
}

li.t1{
    margin-left: 98px;
    margin-top: 60px;
}

li.t2{
    margin-left: 98px;
    margin-top: 30px;
}

li.t3{
    margin-left: 98px;
    margin-top: 30px;
}

p{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 23px;
    color: #0E0801;
}

div.botao{
    margin-left: 120px;
    margin-top: 60px;
}

#b1{
    border-radius: 37px;
    padding: 15px 36px;
    align-items: center;
    gap: 10px;
}