<h2 mat-dialog-title>Nova amizade</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formBusca" >
        <div class="row">
            <div class="col">
                <input type="search" class="form-control" id="datatable-search-input"
                placeholder="Buscar amigo" formControlName="userName" required="true">           
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="onSubmit()" >Pesquisar</button>
            </div>
        </div>

    </form>

    <div id="datatable">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Adicionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of friendList; index as i">
                        <td>
                            {{row.nomeUsuario}}
                        </td>
                        <td>
                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" (click)="sendRequestFriend(row.id)" title="Adicionar amigo">
                                <mat-icon>
                                    person_add
                                </mat-icon>
                                Enviar solicitação
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="btn btn-outline-warning"  [mat-dialog-close]="true" cdkFocusInitial>Fechar</button>
</mat-dialog-actions>
